@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

header img {
  width: 300px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
}

header .menu a {
  color: #1d1d44;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header .menu a.shop {
  padding: 10px 20px;
  background-color: #332e54;
  border-radius: 70px;
  border: none;
  color: white;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.textoEbotao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.textoEbotao p {
  width: 230px;
  height: 330px;
  flex-shrink: 0;
  color: #1d1d44;
  font-family: Lexend;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  /* 166.667% */
}

.textoEbotao img {
  width: 200px;
  cursor: pointer;
}

.imagemPrincipal img {
  width: 650px;
  cursor: pointer;
}

.imagens {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.imagens .img1 {
  width: 150px;
}

.imagens .img2 {
  width: 110px;
}

.section1 {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.produtosSec1TextoEprodutos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.produtosSec1TextoEprodutos .texto {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.produtosSec1TextoEprodutos .texto p {
  color: #1d1d44;
  text-align: right;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 41.6px;
  /* 166.4% */
}

.produtosSection1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.produtosSection1 .produto img {
  width: 235px;
}

.produtosSection1 .produto .titulo {
  color: #1d1d44;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.produtosSection1 .produto p {
  color: #1d1d44;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.4px;
  /* 185.455% */
}

.produtosSection1 .preco {
  color: #1d1d44;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.2px;
  /* 181.333% */
}

.section1 .imagemEbotao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.section1 .imagemEbotao img {
  width: 650px;
  flex-shrink: 0;
  margin-right: 20px;
}

.imagemEbotao button {
  width: 153px;
  padding: 16px 30.23px 15.5px 29.77px;
  border-radius: 56px;
  background: #1d1d44;
  border: none;

  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 750px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section2 .div1 h2 {
  color: #332e54;
  font-family: Lexend;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 41.6px;
  /* 138.667% */
}

.section2 .div1 p {
  color: #332e54;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}

.section2 .div2 button {
  min-height: 52px;
  padding: 19px 26.69px 17px 26px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 48px;
  border: 1px solid #6f5cff;
  background: #6f5cff;
  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 161.538% */
}

.section3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 70px;
}

.section3 .produtos .imagemProduto {
  width: 273px;
  height: 341.25px;
}

.section3 .produtos .imagemMulher {
  width: 331px;
  height: 414px;
  flex-shrink: 0;
}

.section3 .produtos h3 {
  color: #1d1d44;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 186.667% */
}

.section3 .produtos p {
  color: #1d1d44;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.4px;
  /* altura com relação ao h3, tipo um gap*/
}

.section3 .imagemDiv {
  position: relative;
}

.imagemDiv img.imagemMulher {
  position: relative;
}

.imagemDiv img.play-circle {
  position: absolute;
  top: 10px;
  /* Ajustar essa posição conforme necessário para posicionar o ícone no canto esquerdo superior */
  left: 10px;
  /* Ajustar essa posição conforme necessário para posicionar o ícone no canto esquerdo superior */
  width: 70px;
  /* Ajustar o tamanho do ícone conforme necessário */
  height: 70px;
  /* Ajustar o tamanho do ícone conforme necessário */
  z-index: 1;
  /* Certificando-se de que o ícone do play esteja acima da imagem da mulher */
  cursor: pointer;
  /* Adiciona o cursor tipo "pointer" (mão) ao passar o mouse sobre a imagem */
}

.section4 {
  background: #1d1d44;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 50px;
}

.section4 .imagens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin: 0 auto;
  /*centralizar a div das imagens */
}

.section4 .titulo {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 41.6px;
  /* 138.667% */
}

.section4 .imagens p {
  color: #FFF;
  text-align: center;
  font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px;
  /* 141.818% */

}

.section4 button {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 272px;
  min-height: 52px;
  padding: 18px 74px 16px 73px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 48px;
  border: 1px solid #6F5CFF;
  background: #6F5CFF;

  color: #FFF;
  text-align: center;
  font-family: Lexend;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 161.538% */

}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1280px;
  padding: 50px 30px 50px 30px;
  gap: 80px;
  border: 1px solid #000;
  margin-left: 30px;
  margin-bottom: 40px;
}

footer .div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 250px;
}

footer .imagem {
  margin-bottom: 200px;
}

footer .div1 .links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

footer .div1 .links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

footer .div1 a {
  color: #000;
  font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 186.667% */
}

footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer .textos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

footer .texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer .texto a {
  color: #353535;
  font-family: Lexend;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.5px;
  /* 204.167% */
  text-decoration-line: underline;
}

footer .textos p {
  color: #000;
  font-family: Lexend;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.5px;
  /* 188.462% */
}












#videoId {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#video {
  width: 80%;
  max-width: 800px;
}

#botaoFechar {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #332e54;
  color: white;
  border: none;
  cursor: pointer;
}